.navbar-brand {
    display: flex;
    align-items: center; /* Align text and icon vertically */
    color: #00A36C;
    transition: color 0.3s ease-in-out;
    font-weight:bold; /* Add transition for smooth color change */
  }
  
  .navbar-brand:hover {
    color: black;
  }
  
  .navbar-icon {
    margin-right: 1px; /* Add a margin between the icon and text */
    color:#00A36C;
  }

  .user-png {
    width: 30px;
    height: 30px;
  }
  
  .navbar-nav .nav-link:hover {
    color: black;
  }
  
  .navbar-brand2 {
    color: #00A36C;
    transition: color 0.3s ease-in-out; /* Add transition for smooth color change */
    font-weight:bold; 
  }
  
  .navbar-brand2:hover {
    color: black;
  }
  
  .btn-nav{
    background-color:#00A36C;
    border-radius:10px;
    color:white !important; 
    font-weight:bold;
  }
  